.categoryView {
    width: 100%;
    height: auto;

    .top {
        width: 100%;
        padding: 16px 16px 0px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            width: 50%;
            
            h1 {
                font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    
        .sapxep {
            select {
                padding: 10px;
                width: 250px;
            }
        }
    }

    .listItem {
        width: 100%;
        height: auto;
        padding-top: 16px;
        display: flex;
        flex-wrap: wrap;
        align-self: stretch;

        a {
            width: 25%;
            height: 32.5em;
            padding: 16px;
            text-decoration: none;

            .item {
                width: 100%;
                height: 100%;
                

                .productImg{
                    img {
                        width: 100%;
                        height: 24em;
                        object-fit: cover;
                    }
                }
    
                .productContent {
                    padding: 10px 5px 0px;

                    .itemTop {
                        display: flex;
                        justify-content: space-between;
                        height: 25px;

                        .price {
                            text-decoration: line-through;
                        }
                    }

                    .sale {
                        text-align: right;
                    }

                    .content {
                        width: 100%;
                        height: 46px;
                        font-size: 14px;
                        overflow: hidden;

                        span {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            &:hover {
                background-color: #c4c4c4;
            }
        }
    }

    .page {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 16px;
    }
}